body {
  background-color: whitesmoke;
  margin: auto 30%;
  margin-top: 100px;
}
body input {
  font-size: 16px;
  width: 300px;
  margin-left: 100px;
  display: flex;
  margin-bottom: 25px;
  background-color: black;
  color: white;
  border: 0px solid;
  padding: 12px;
  border-radius: 8px;
}
body button {
  display: flex;
  width: 120px;
  height: 30px;
  border: 0px solid;
  background-color: black;
  color: white;
  font-size: 16px;
  margin-left: 200px;
  padding-left: 30px;
  margin-top: 20px;
  border-radius: 8px;
}
