/* 
.navbar #Anasayfa {
} */
body {
  background-color: whitesmoke;
}
.navbar {
  /* margin: auto px; */
  display: flex;
  background-color: black;
  border-radius: 8px;
}
.navbar button {
  width: 120px;
  height: 40px;
  margin: auto 50px;
  background-color: black;
  color: white;
  border: 0px solid;
}
.navbar input {
  width: 150px;
  height: 26px;
  background-color: black;
  color: white;
  padding: 6px;
  font-size: 15px;
  border: 0px solid;
  margin-left: 60px;
}

/* .product-table {
  display: block;
  margin-top: 50px;
  margin-left: 100px;
}
.product-birinci img {
  margin: auto 20px;
}
.product-ikinci img {
  margin: auto 20px;
}
.product-ucuncu img {
  margin: auto 20px;
} */
