<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>E-Ticaret</title>
    <link rel="stylesheet" href="../styles/product.css" />
    <script src="../scripts/product.js"></script>
    <script src="../scripts/database.js"></script>
  </head>
  <body onload="Create()">
    <div class="navbar"></div>
    <div class="products"></div>
  </body>
</html>
